.jumbotron {
    background-color: #0069d9;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px;
    margin-bottom: 0px;
    background-color:#0069d9;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;

}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

a {
    color: darkblue;
}

.footer-icon {
    padding-right: 5px;
}

footer p{
    color: white;
}

footer a{
    color: white;
}

footer a:hover {
    color: lightblue;
}

footer h3 {
    color: white;
}

.jumbotron h1 {
    color: white;
}

#priceTabs {
    margin-bottom: 10px;
}

