.jumbotron {
  background-color: #0069d9;
  color: #000a15;
  margin-top: 50px;
  margin-bottom: 16px; }

footer {
  padding: 10px;
  background-color: #0069d9;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

a {
  color: #000a15; }

.footer-icon {
  padding-right: 5px; }

footer p {
  color: #cce1f7; }

footer a {
  color: #cce1f7; }

footer a:hover {
  color: #99c3ef; }

footer h3 {
  color: #cce1f7; }

.jumbotron h1 {
  color: #cce1f7; }

#priceTabs {
  margin-top: 0px;
  margin-bottom: 10px; }

img.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%; }

img.c-carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%; }
